<% @articles.each do |article| %>
  <article class="article">
    <%  if @show_article_author %>
      <header class="article-name-container">
        <p>
          <%= article.user.name %>
        </p>
        <p>
          <%= article.user.surname %>
        </p>
      </header>
    <% end %>
    <section>
      <%= article.message %>
    </section>
    <footer>
      Posted
      <time datetime="<%= article.created_at %>">
        <%= time_ago_in_words(article.created_at) %>
      </time>
      ago
    </footer>
  </article>
<% end %>