<% @articles.each do |article| %>
  <article class="article">
    <% if @show_article_author %>
      <header class="article-name-container">
        <p>
          <%= article.user.name %>
        </p>
        <p>
          <%= article.user.surname %>
        </p>
      </header>
    <% end %>
    <section>
      <%= article.message %>
    </section>
    <footer>
      <div>
        Posted
        <time datetime="<%= article.created_at %>">
          <%= time_ago_in_words(article.created_at) %>
        </time>
        ago
      </div>
      <% if article.user.id == current_user.id %>
        <div>
          <button
            data-id="<%= article.id %>"
            data-button="edit"
          >
            Edit
          </button>
          <button
            data-id="<%= article.id %>"
            data-button="remove"
          >
            Remove
          </button>
        </div>
      <% end %>
    </footer>
  </article>
<% end %>
