<header class="header">
  <% if user_signed_in? %>
    <div class="header-user-container">
      <div>
        <%= current_user.name %>
      </div>
      <div>
        <%= current_user.surname %>
      </div>
      <%= link_to t( "articles.paths.new"), new_article_path %>
      <%= link_to t( "devise.path.sign_out"), destroy_session_path(:user) %>
    </div>
  <% else %>
    <% if controller_name != "sessions" %>
      <%= link_to t( "devise.path.sign_in"), new_user_session_path %>
    <% end %>
  <% end %>
</header>
