<% if user_signed_in? %>
  <% @articles.each do |article| %>
    <article class="article">
      <div class="article-name-container">
        <div>
          <%= article.user.name %>
        </div>
        <div>
          <%= article.user.surname %>
        </div>
      </div>
      <div>
        <%= article.message %>
      </div>
      <time>Posted <%= time_ago_in_words(article.created_at) %> ago</time>
    </article>
  <% end %>
<% else %>
  <h1> You should <%= link_to "sign in", new_session_path(:user) %> to see articles </h1>
<% end %>
