<% if user_signed_in? %>
  <% @articles.each do |article| %>
    <article class="article">
      <header class="article-name-container">
        <div>
          <%= article.user.name %>
        </div>
        <div>
          <%= article.user.surname %>
        </div>
      </header>
      <section>
        <%= article.message %>
      </section>
      <footer>
        Posted
          <time datetime="<%= article.created_at %>">
            <%= time_ago_in_words(article.created_at) %>
          </time>
        ago
      </footer>
    </article>
  <% end %>
<% else %>
  <p> You should <%= link_to "sign in", new_session_path(:user) %> to see articles </p>
<% end %>
